@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.root, .label, .button, .text-field, .password-field, .hyperlink {
    -fx-font-family: 'Poppins', sans-serif;
}

.root {
    -fx-background-color: linear-gradient(to right, #232526 0%, #414345 100%);
}

.label {
    -fx-text-fill: #f6f6f6;
}

.button {
    -fx-background-radius: 16;
    -fx-background-color: linear-gradient(to right, #43cea2, #185a9d);
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
    -fx-font-weight: 700;
    -fx-padding: 8 32;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, #222 0.18, 8, 0, 0, 2);
    -fx-border-width: 0;
}

.button:focused, .button:hover {
    -fx-background-color: linear-gradient(to right, #185a9d, #43cea2);
    -fx-text-fill: #fff;
}

.text-field, .password-field {
    -fx-font-size: 16px;
    -fx-background-radius: 12;
    -fx-background-color: #33343a;
    -fx-border-color: #43cea2;
    -fx-border-radius: 12;
    -fx-border-width: 1.4;
    -fx-text-fill: #e7f7ee;
    -fx-padding: 9 14 9 14;
}

.hyperlink {
    -fx-text-fill: #43cea2;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
}

